* body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #dddddd;
}
header{
    height: 40px;
    background-color: white;
}
.barranav{
    height: 40px;
    background-color: #29b1dd;
}
.container header nav{
    width: 90%;
    height: 100%;
    display: flex;
    margin: 20px auto;
}

.container::after{
    content: "";
    display: table;
    clear: both;

}
.square {
    display: flex;
    justify-content: center;
    align-items: center;   
    float: left;
    width: 150px;
    height: 100px;
    background-color:rgb(245, 245, 245);
    margin: 10px;
    border-radius: 10px;
}

.icona {
    width: 20px;
    height: 20px;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.blue {
    color: blue;
}
